<div class="about">
	<div class="about__logo"></div>
	<div class="about__text">
		<h3 class="about__title">
			About The Page
		</h3>
		<p class="about__desc">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus veritatis provident architecto est consequuntur vero expedita consequatur voluptatem reiciendis ex eius cum aperiam fuga sit, nostrum quasi quibusdam assumenda voluptas?
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus veritatis provident architecto est consequuntur vero expedita consequatur voluptatem reiciendis ex eius cum aperiam fuga sit, nostrum quasi quibusdam assumenda voluptas?
		</p>
		<a href="#" class="about__btn">
			Go To Github
		</a>
	</div>
</div>